@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/*google font css*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    background-color: #242424;
}

/* all button hover css*/
#high-score{
    color: whitesmoke;
    margin: 10px;
    padding: 20px;
    position: absolute;
}
.startboxBtn button:hover{
    color: #242424;
}

#saveScoreBtn:hover{
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 #242424;
    transition: transform 150ms;
    transform: scale(1.03);
}


#startquizBtn:hover{
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 #242424;
    transition: transform 150ms;
    transform: scale(1.03);
}

#highscoreBtn:hover{
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 #242424;
    transition: transform 150ms;
    transform: scale(1.03);
}

#backtomenuBtn:hover{
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 #242424;
    transition: transform 150ms;
    transform: scale(1.03);
}
.choice-text:hover{
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 #242424;
    transition: transform 150ms;
    transform: scale(1.03);
}


#countdown{
    color: whitesmoke;
    left: 60%;
    top: 15%;
    position: absolute;
}
/*main container css*/
.container .title{
    height: 60px;
    font-size: 35px;
    color: whitesmoke;
}

.container{
    line-height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    text-align: center;
    background-color:indigo;
    border-radius: 15px;
    padding: 20px;
}

.start-rules{
    color: whitesmoke;
    font-size: 17px;
    
    
}

.startboxBtn button{
    margin: 20px;
    padding: 5px 15px;
    font-size: 20px;
    border: 5px;
    color: indigo;
    outline: none;
    border-radius: 25px;
    cursor: pointer; 
}

#saveScoreBtn{
    margin: 20px;
    padding: 5px 15px;
    font-size: 20px;
    border: 5px;
    color: indigo;
    outline: none;
    border-radius: 25px;
    cursor: pointer; 

}

.choice-contaianer{
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 4px;
    background: #242424;
    font-size: 3rem;
    min-width: 80rem;
}
#question{
    color: whitesmoke;
    font-size: 25px;
    padding: 30px;
    line-height: 40px;
}

#timer{
    float: left;
    color: whitesmoke;
    position: absolute;
    font-weight: 600;
}

#score{
    color: whitesmoke;
    float: right;
    font-weight: 600;
}

.choice-text{
    color: indigo;
    background-color: whitesmoke;
    border-radius: 10px;
    
}

.choice-prefix{
    visibility: hidden;
}
.hud-prefix{
    padding: 0;    
}
h1 {
    padding: 10px;
    margin-top: 10px;
}
h2{
    color: whitesmoke;
    margin-top: 45px;
    margin-bottom: 45px;
    font-size: 70px;
}

h3{
    color: whitesmoke;
    padding: 40px;
    font-size: 25px;
}

input{
    padding: 0.5rem;
    border-radius: 10px;
    font-size: 15px;    
}

#finalScore{
    color: whitesmoke;
}
#end-text{
    color: whitesmoke;
    font-size: 15px;
}
#highScoresList{
    color: whitesmoke;
    font-size: 20px;
    padding: 40px;
    list-style-type: none;

}